@tailwind base;
@tailwind components;
@tailwind utilities;





body {
   background: #131314;
}

a {
  color: inherit;
  text-decoration: none;
}


.ReactMarkdown ul {
  list-style-type: none; /* Removes bullets */
  padding-left: 0; /* Removes padding */
}

.ReactMarkdown li {
  margin-bottom: 0.5em; /* Optional: Adjusts spacing between list items */
}

.cl-internal-1hp5nqm,.cl-internal-df7v37{
  display: none;
}


.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 56px;
}

@font-face {
  font-family: 'Mixcase';
  src: local('Mixcase Unmixed'), local('Mixcase-Unmixed'),
      url('/fonts/MixcaseUnmixed.woff2') format('woff2'),
      url('/fonts/MixcaseUnmixed.woff') format('woff'),
      url('/fonts/MixcaseUnmixed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Mixcase-500{
  font-family: "Mixcase", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#user-name{
  font-family: "Mixcase", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 46px;
  background: linear-gradient(to right, #4285f4 0%, #9b72cb 9%,#d96570 20%, #d96570 24%,#9b72cb 35%,#4285f4 44%,#9b72cb 50%,#9b72cb 56%,#131314 75%,#131314 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  
}

